body {
	font-family: "Georgia", Serif;
  text-align: center;
  color: white;
	background-color: black;
}

table {
	margin-left: auto;
  margin-right: auto;
}

td, th {
	border: 1px solid;
  }

img {
	border-radius: 4px;
  width: 350px;
	height: auto;
}