body {
	font-family: "Georgia", Serif;
  text-align: center;
  color: white;
	background-color: black;
}

h1 {
	font-size: 70px;
	font-weight: bold;
	color: yellow;
}

table {
	margin-left: auto;
  margin-right: auto;
}

td, th {
	border: 8px solid;
	border-radius: 8px;
}

img {
	border-radius: 4px;
  width: 350px;
	height: auto;
}

.venus {
	background-color: #735307;
	color: #f9c21a;
}

.earth{
	background-color: green;
	color: blue;
}

.mars {
	background-color: #451804;
	color: #c1440e	;
}

.jupiter {
	background-color: #c73a0a;
	color: #ffeed5;
}

.longtext{
	width: 100px;
	height: auto;
	font-weight: bold;
}